/* Component HomeScreen.js */
#home-screen {
    margin-left: sizy(lg);
   /* text "Your Scores" */
    div.home-title {
        margin: 1rem 0rem 2.5rem 0rem;
        height: 2.5rem;
        font-size: 1.8rem;
    }
    div{
        margin: 1rem  0rem  0.6rem  0rem;
        padding: 0rem;
        height: 4.6rem;
        animation-name: flyLeft;
        -webkit-animation-name: flyLeft;
        animation-duration: 3s;
        -webkit-animation-duration: 3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
    div.rank-statistics-2 {
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }
    div.rank-statistics-3 {
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
    }

}

/* example "#2" */
span.rank-no{
    padding: 1.4rem 1.2rem 0.8rem 1.4rem;  
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    text-align: center;
    background-color: colory(light); 
    color: colory(success); 
    border: 2px solid colory(success);
    border-radius: 1.2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

/* example "on 7/2/2019" */
span.rank-date{
   position: relative;
   top: -4.5rem;  
   color: colory(secondary);
   font-size: 1.4rem;
}

/* example "2,250 pts" */
span.rank-points{
    position: relative;
    left: 7.2rem; 
    top: -2.7rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: colory(dark);
 }

