@keyframes shake {
    0% { @include transformShake(1px, 1px, 0deg); }
    10% { @include transformShake(-1px, -2px, -1deg); }
    20% { @include transformShake(-3px, 0px, 1deg); }
    30% { @include transformShake(3px, 2px, 0deg); }
    40% { @include transformShake(1px, -1px, 1deg); }
    50% { @include transformShake(-1px, 2px, -1deg); }
    60% { @include transformShake(-1px, 2px, 0deg); }
    70% { @include transformShake(-3px, 1px, -1deg); }
    80% { @include transformShake(-1px, -1px, 1deg); }
    90% { @include transformShake(1px, 2px, 0deg); }
    100% { @include transformShake(1px, -2px, -1deg); }
  }
@-webkit-keyframes shake  {
    0% { @include transformShake(1px, 1px, 0deg); }
    10% { @include transformShake(-1px, -2px, -1deg); }
    20% { @include transformShake(-3px, 0px, 1deg); }
    30% { @include transformShake(3px, 2px, 0deg); }
    40% { @include transformShake(1px, -1px, 1deg); }
    50% { @include transformShake(-1px, 2px, -1deg); }
    60% { @include transformShake(-1px, 2px, 0deg); }
    70% { @include transformShake(-3px, 1px, -1deg); }
    80% { @include transformShake(-1px, -1px, 1deg); }
    90% { @include transformShake(1px, 2px, 0deg); }
    100% { @include transformShake(1px, -2px, -1deg); }
  }


@keyframes pulse {
    0% {  
        @include pulse(1);
    }
    70% {
        @include pulse(1.1);
        box-shadow: 0 0 0 50px rgba(colory(info), 0);
    }
    100% {
        @include pulse(1);
        box-shadow: 0 0 0 0 rgba(colory(info), 0);
    }
}
@-webkit-keyframes pulse {
    0% {  
        @include pulse(1);
    }
    70% {
        @include pulse(1.1);
        box-shadow: 0 0 0 50px rgba(colory(info), 0);
    }
    100% {
        @include pulse(1);
        box-shadow: 0 0 0 0 rgba(colory(info), 0);
    }
}


@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @-webkit-keyframes flyLeft {
    0% { @include flyLeft(-20em); }
    100% { @include flyLeft(0em); }
 }
 @keyframes flyLeft {
    0% { @include flyLeft(-20em); }
    100% { @include flyLeft(0em); }
 }
