@import "keyframes";

#main-screen {
   
    /*example "Question 3 out of 5" */
    h4 {
        margin: sizy(xs) 0px sizy(xs) 25px ;  
        padding:  0rem sizy(xs) sizy(xs) sizy(xs);
        font-size: 1.5rem; 
    }
}

#single-question {
   
    @include fade-duration-delay;
  
    img {
        width: 100%;
        max-width: 25rem;
        height: auto;    
        display: block;
        margin-bottom: 0.6rem;
        margin-left: auto;
        margin-right: auto;
    }

    div  {
        margin: 0.3rem 1.2rem 0.3rem 1.2rem;
        padding: 0rem;

        button {
            display: block;
            width: 100%;
            color: colory(darkest); 
            border: 1px solid colory(info);
            border-radius: 0.5rem;
            background-color: colory(light); 
            padding: 0.6rem;
            text-align: left;
            font-size: 0.8 rem;
            font-weight: bold;
        }
        
        button:focus {
            outline: none;
          }

        /*button answer when it's clicked*/ 
        button.right-answer, button.wrong-answer  {
            color: colory(light);
            background-color:colory(info); 
        }

        button.wrong-answer {
            /*animation properties*/
            animation: shake 0.5s;
            -webkit-animation: shake 0.5s;
            animation-iteration-count: 1;
            -webkit-animation-iteration-count: 1;
        }

        button.right-answer{
            /*animation properties*/
            animation: pulse 1.5s infinite;
            -webkit-animation: pulse 1.5s infinite;
            box-shadow: 0 0 0 0 rgba(colory(info), .5);
        }

    }
}

/* button with single answer */
button  {

    span.answer-text {
        position: relative;
        bottom: 0.6rem;
        left: 0.3rem;
    }

    span.check-close {
        float: right;
        height: 1.8rem;
    }  
}

/* jump to the next question */
button.next-button {
    position: relative;
    left: calc(50% - 2.9rem);
    top: 0.3rem;
    color: colory(light);
    padding: 1.2rem 1.8rem 1.2rem 1.8rem; 
    border-radius: 0.5rem;
    background-color: colory(success); 
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    border-width: 0rem;
}

button.next-button:focus {
    outline: none;
  }