@mixin fade-duration-delay {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }


@mixin landscape {
    @media (max-height: #{470px}) {
        @content;
    }
}

@mixin transformShake($val1, $val2, $val3){
    -webkit-transform: translate($val1, $val2) rotate($val3);
    -ms-transform: translate($val1, $val2) rotate($val3);
    transform: translate($val1, $val2) rotate($val3);
  }

@mixin pulse($val){
    transform: scale($val);
    -webkit-transform: scale($val);
    -ms-transform: scale($val);
}

@mixin flyLeft($val){
    transform: translate($val);
    -webkit-transform: translate($val);
    -ms-transform: translate($val);
}