
@include landscape;

/* block buttons: home and play */
div.home-nav {
    position: absolute;
    bottom: 1.8rem;
    left: 1.8rem;  
    
    @include landscape {
        left: initial;
        right: 5rem;
    }

    /* home button */
    a span.home-span {
        padding: 2.6rem 1.2rem 1.1rem 1.4rem;
        border-radius: 0.6rem;
        background-color: colory(primary); 
    }
    /* play button */
    a span.main-span {
        margin-left: 0.3rem;
        padding: 2.1rem 1.2rem 1rem 1.6rem;
        border-radius: 0.6rem;
        background-color: colory(light);
        border: 2px solid colory(success);
        font-size: 1.4rem;
        font-weight: bold;
        
    }
    a span.main-span:active {
        /* animation properties - this one is quick*/
        animation: fadeOut 0.5s;
        -webkit-animation: fadeOut 0.5s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    a {  
        text-decoration: none;
        color: colory(success);
    }
    
    /*home icon */
    a span {
        position: relative;
        bottom: 0.3rem;
    }
}

/* Finish button */
a.results-nav { 
    
    @include fade-duration-delay;
    padding: 1.2rem 2rem;
    margin: 2rem auto 0rem auto;
    width: 50%;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: colory(light); 
    color: colory(primary); 
    border-radius: 1rem;
    border: 2px solid colory(primary);
}

    
