#results {
    h4 {
        margin: 0rem 0rem 0rem 1.6rem ;  
        padding: sizy(xs);
        font-size: 1.5rem;
    }

    div.category-result {
        margin: 2rem auto 0rem auto;
        width: 50%;
        text-align: center
    } 

    h2 {
        margin: 0rem;
        padding-top: sizy(lg);
        text-align: center
    }

    h1 {
        color: colory(darkest);
        padding: 0rem;
        margin: sizy(xs);
        text-align: center
    }

    
   
}